@import url(../css/font.css);
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

/*Header*/
header {
  width: 100%;
}
header .head-bottom {
  display: flex;
  margin-top: 12px;
}
header .head-bottom p {
  margin-left: 10px;
  color: #B4B8BF;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}
header .head-bottom p:nth-child(2) {
  color: #F5B458;
  position: relative;
}
header .head-bottom p:nth-child(2)::after {
  content: " ";
  width: 1px;
  height: 15px;
  position: absolute;
  background-color: #F5B458;
  top: 2px;
  left: -5px;
  transform: rotate(-15deg);
}

header nav {
  padding: 38px 0;
  border-bottom: 1px solid #DCE0E5;
  display: flex;
  -moz-column-gap: 73px;
       column-gap: 73px;
  align-items: center;
}
header nav ul {
  display: flex;
  align-items: center;
}
header nav ul li {
  padding-left: 12px;
  padding-right: 12px;
}
header nav ul li a {
  transition: all 300ms;
  text-decoration: none;
  color: #465061;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.84px;
}
header nav ul li a img {
  transition: all 300ms;
}
header nav ul li a:hover {
  color: #F5B458;
}
header nav ul li a:hover img {
  transform: rotate(-180deg);
}
header nav ul li:last-child {
  border-left: 1px solid #D5DAE3;
}
header nav ul :nth-child(1) a {
  color: #F5B458;
}

/*Header*/
/*section*/
section .section-top {
  margin-top: 112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .section-top h1 {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  color: #1A2E51;
  letter-spacing: 2.16px;
}
section .section-center {
  margin-top: 71px;
}
section .section-center .box h2 {
  color: #465061;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}
section .section-center .box .text1 {
  padding-right: 150px;
}
section .section-center .box .text2 {
  margin-right: 120px;
}
section .section-center .box p {
  color: #465061;
  font-family: Fira Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.8px;
}
section .section-center .box:nth-child(1) {
  margin-bottom: 72px;
}

/*section*/
/*Footer*/
footer {
  background-color: #1A2E51;
  height: 366px;
  margin-top: 100px;
}
footer .footer-top {
  padding-top: 56px;
  padding-bottom: 22px;
  display: flex;
}
footer .footer-top .nav-list {
  display: flex;
}
footer .footer-top .nav-list ul {
  margin-left: 101px;
}
footer .footer-top .nav-list ul h5 {
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.84px;
}
footer .footer-top .nav-list ul li a {
  color: rgba(255, 255, 255, 0.87);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.56px;
}
footer .border-topp {
  width: 100%;
  height: 1px;
  background-color: white;
}
footer .footer-bottom {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-bottom p {
  color: #FFF;
  letter-spacing: 0.28px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
footer .footer-bottom ul {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

/*Footer*//*# sourceMappingURL=mission.css.map */